/* Color Scheme */
$primary-color: #307c91;
$secondary-color: #b6dce9;
$white: #fff;
$dark: #023f4a;
$gray: #8b929a;
$light-gray: #e5e3e4;
$blue-gray: #d5dce3;

$background-color: #f2f6ff;
$background-color-alt: $white;

$text-color: $dark;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;